{% extends 'base.html.twig' %}

{% block title %}Transacciones{% endblock %}

{% block body %}
    <h1>Transacciones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.date|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="alert alert-info">
        <strong>Balance Total:</strong> {{ total_balance }}
    </div>
{% endblock %}
